<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- google sign in -->
  <meta name="google-signin-client_id" content="890772928606-jlsc73sta48fi97mjqjas0ikspdo8dbo.apps.googleusercontent.com">

  <!-- Latest compiled and minified CSS -->
  <title>UnifyID</title>
  <base href="/"/>
  <link rel="stylesheet" type="text/css" href="../libs/bootstrap-3.3.7/dist/css/bootstrap.min.css">
  <!-- font-awesome -->
  <link href="../libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="login.html" type="text/html"> -->
  <!-- jQuery library -->
  <script src="../libs/jquery-3.2.1.js"></script>

  <script src="../libs/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
</head>

<body>
  <div>
    <ul>
      <li>


</body>
</html>
